/* centers text in middle 50% of page */
.jumbotron-fluid{
    padding-top: 15%;
    padding-bottom: 25%;
}
/* I needed more margin that what was natively available in Bootstrap */
.ml-6{
    margin-left: 5rem !important;
}
.mr-6{
    margin-right: 5rem !important;
}
/* override default Bootstrap list style with traditional alphabetical style */
/* need to fix to add letters via upper-alpha */
.list-group{
    list-style: upper-alpha;
    margin-left: 3rem !important;
    margin-right:3rem !important;
}